* {
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    color: white;
}

body {
    background-color: rgb(182, 234, 242);
    text-align: center;
}

nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
    align-items: center;
    background-color: #96b0ff;
    border: 2px solid gray;
}

ul {
    color: blueviolet;
    min-width: 40vw;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

li {
    color: black;
    font-family: fantasy;
    font-size: 2em;
    cursor: pointer;
    transition: 0.3s;
}

li:hover {
    color: blue;
    scale: 1.15;
}

.gallery-container {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, minmax(17vw, 4fr));
    gap: 5px;
    justify-items: center;
}

.meme-img {
    border-radius: 1em;
    max-width: 16vw;
    object-fit: cover;
}

.search {
    text-align: center;
    font-size: 2em;
    margin-top: 6px;
    color: black;
    background-color: #96b0ff;
    min-height: 4vh;
    width: 92vw;
    border: 1px solid var(--color3);
    border-radius: 5em;
}

.meme-edit {
    margin-top: 20px;
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 2px;

}

.tools-place {
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 2em;
    padding: 2px;
}

.text-input {
    height: 10vh;
}

.select-color {
    height: 2.5em;
    width: 2.5em;
}

.edit-title {
    font-size: 2em;
    margin: 2px;
}

img {
    max-width: 19vw;
    transition: 0.4s;
}

img:hover {
    scale: 1.3;

}


.grid {
    display: grid;
}

@media screen and (max-width: 1010px) {

    .meme-edit {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .meme-unit img {
        max-width: 30vw;
    }

    .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
        gap: 0px;
    }
}

@media screen and (max-width: 550px) {
    nav {
        grid-template-columns: 1fr 5fr;
        gap: 0.5em;
    }

    li {

        font-size: 1.5em;
        cursor: pointer;
    }

    .meme-edit {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .meme-unit img {
        max-width: 40vw;
    }

    .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
        gap: 0px;
    }
}

.stiker-btn {
    font-size: 2em;
    cursor: pointer;
    transition: 1s;
}

.stiker-btn:hover {
    background-color: blue;

}

.editor-btns {
    width: 1.5em;
    height: 1.5em;
    object-fit: cover;
    margin: 2px;
}

.font-form {
    height: 41px;
    border-radius: 30%;
}

.text-input {
    border-radius: 25px;
    height: 8vh;
}

.saved-memes {
    display: none;
}